* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
      to right,
      rgba(12, 12, 12, 0.699),
      rgba(29, 29, 29, 0.699),
      rgba(70, 69, 69, 0.73),
      rgba(82, 82, 82, 0.59)
    ),
    url(./assets/jokebc.jpg);
  background-size: cover;
  color: #fff;
  font-family: "Amazon Ember", Arial, sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#container {
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  margin-right: 50px;
  margin-bottom: 200px;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: #fff;
  text-shadow: 5px 5px 10px black;
}

#btn {
  background-color: #29b6f6;
  border: 2px solid #0485cf;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.2s ease-out;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  &:active {
    background-color: #008bff;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
  }
}
